.nav-form{
    -fx-background-color: #231F20FF;
}

.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
}
.nav-button:hover{
    -fx-background-color: #503023;
}

.sign_out{
    -fx-background-color:#503023;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

.sign_out:hover{
    -fx-background-color: #673c2d;
}

.bg-white{
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,.3),8,0,0,0);
    -fx-background-radius: 10px;
}

.bg-white:hover{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,.5),8,0,0,0);
}

.card1{
    -fx-background-color: linear-gradient(to right, #2b428c, #2e58ab);
    -fx-background-radius: 0px 10px 10px 0px;
}

.card1-left{
    -fx-background-color: linear-gradient(to right, #16225b, #15236e);
}

.card2{
    -fx-background-color:linear-gradient(to right, #772d90, #a42fb8);
    -fx-background-radius: 0px 10px 10px 0px;
}

.card2-left{
    -fx-background-color: linear-gradient(to right, #641f7f, #772d90);
}

.card3{
    -fx-background-color: linear-gradient(to right, #9d2249, #cc1c5a);
    -fx-background-radius: 0px 10px 10px 0px;
}

.card3-left{
    -fx-background-color: linear-gradient(to right, #891a41,#9d2249);
}


.card:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5),5,0,0,0);
}

.info-card{
    -fx-border-color: #673c2d;
    -fx-border-radius: 10px 0px 0px 10px;
}

.label-info{
    -fx-border-color: #673c2d;
    -fx-border-radius: 0px 5px 0px 0px;
    -fx-border-width: .8px;
    -fx-padding: .8px;
    -fx-font-size: 14px;
}

.table-view{
    -fx-background-color: #fff;
    -fx-size: 50px;
    -fx-border-color: #231F20FF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px ;
    -fx-fill: #fff;
    -fx-padding: 0px;
}

.table-view .column-header-background{
    -fx-background-color: #231F20FF;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 10px 10px 0px 0px;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 50px;
    -fx-fill: #fff;
}

.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.select-button{
    -fx-background-color: #3149a1;
    -fx-background-radius: 15px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.select-button:hover{
    -fx-background-color: #4263d7;
}

.addToCart-button{
    -fx-background-color: #50a135;
    -fx-background-radius: 15px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.addToCart-button:hover{
    -fx-background-color: #62c53f;
}

.removeFromCart-button{
    -fx-background-color: #a13535;
    -fx-background-radius: 15px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.removeFromCart-button:hover{
    -fx-background-color: #b23c3c;
}

.imageAnchor:hover{
    -fx-cursor: hand;
}